/* ROOT CONTAINER */
/* TODO: complete root container styling */
.root__container {
    width: ;
    height: ;
    display: ;
    grid-template-columns: ;
    grid-template-rows: ;
    position: relative;
}

/* HEADER */
/* Slide Menu */
/* TODO: complete side menu container */
.side-menu__conatiner{
    position: fixed;
    left: ;
    top: ;
    width: ;
    height: ;
    overflow: hidden;
    pointer-events: none;
    z-index: 25;
}

.side-menu__conatiner-active {
    pointer-events: auto;
}

/* TODO: complete side menu continer BEFORE */
.side-menu__conatiner::before {
    content: " ";
    cursor: pointer;
    position: absolute;
    display: block;
    top: ;
    left: ;
    height: ;
    width: ;
    background-color: ;
    opacity: ;
    transition: opacity 300ms linear;
    will-change: opacity;
}

.side-menu__container-active::before {
    opacity: 0.3;
}

/* TODO: complete slide menu */
.slide-menu {
    box-sizing: ;
    transform: translateX(-103%);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 90%;
    max-width: 26rem;
    background-color: white;
    box-shadow: 0 0 2rem rgba(0,0,255,0.1);
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 2fr 4fr 1fr;
    grid-gap: 1rem;
    transition: transform 300ms linear;
    will-change: transform;
}

.slide-menu-active {
    transform: none;
}

/* TODO: complete menu header */
.menu-header {
    background: ;
    display: grid;
    grid-template-rows: ;
    grid-template-columns: ;
    box-sizing: ;
    width: ;
    align-content: ;
}

/*  Greeting Style */
/* TODO: complete greeting style */
.greeting__text{
    grid-area: greeting;
    font-size: ;
    letter-spacing: ;
    text-transform: uppercase;
    margin-top: ;
    justify-self: center;
    align-self: center;
}

/* Account Details */
.account-details {
    grid-area: details;
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
    align-self: center;
}

.name__text {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.email__text {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

/* TODO: complete profile image container styles */
.profile-image__container {
    grid-area: image;
    margin-right: ;
    border-radius: ;
    height: ;
    width: ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-self: center;
    margin-left: ;
}

.profile-image {
    max-width: 4rem;
}

/* HEADER */
/* TODO: complete main header */
.main__header {
    width: ;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    box-shadow: ;
    height: ;
    margin: ;
    align-items: center;
    transition: ;
    animation: ;    
}

/* TODO: set dark mode header bgColor */
.main__header-dark {
    background-color: ;
    color: white;
}

.toggle-button__container {
    cursor: pointer;
    position: relative;
    margin: 0 0.5rem;
}

.mode-toggle__input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* TODO: complete mode toggle bg */
.mode-toggle__bg {
    height: ;
    width: ;
    border-radius: ;
    background-color: ;
    display: ;
    transition: ;
}

/* TODO: complete mode toggle circle */
.mode-toggle__circle {
    height: ;
    width: ;
    border-radius: ;
    background-color: ;
    display: ;
    transition: ;
}

.mode-toggle__circle-checked {
    background-color: white;
    left: 1.75rem;
}

.mode-toggle__bg-checked {
    background-color: black; 
}

/* TODO: complete mode toggle text */
.mode-toggle__text {
    font-size: ;
    text-transform: ;
    letter-spacing: ;
}

/* CONTENT */
.left__section {
    display: grid;
    grid-template-rows: ;
    grid-template-columns: ;
    max-width: ;
}

/* TODO: complete date text style */
.date__text {
    text-transform: uppercase;
    letter-spacing: ;
    display: inline;
    margin: ;
}

/* SVG Things */
.hamburger__icon {

}

.logo__icon {
    height: ;
    left: ;
}

.logo__text {
    fill: ;
}

.logo__text-dark {
    fill: ;
}

.hamburger__icon-fill {
    
}